<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743298458397-5gabmp9n6silasc3flk71a0jaarj2e39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743298458397-5gabmp9n6silasc3flk71a0jaarj2e39</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>743298458397-1amu46k6d5c9dmrl74oigqrokukn8f2o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlivvuWdtfb6v9AWSXFM4y5IO-zhoP9bo</string>
	<key>GCM_SENDER_ID</key>
	<string>743298458397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chunwei.runspiration</string>
	<key>PROJECT_ID</key>
	<string>runspiration-b81aa</string>
	<key>STORAGE_BUCKET</key>
	<string>runspiration-b81aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743298458397:ios:cc6ba40715dffc5ccfb7f4</string>
</dict>
</plist>